@use 'variables' as *;

@mixin media-breakpoint-up($size) {
    $breakpoint: map-get($grid-breakpoints, $size);

    @if $breakpoint !=null {
        @media (min-width: #{$breakpoint}) {
            @content;
        }
    }
}

@mixin media-breakpoint-down($size) {
    $breakpoint: map-get($grid-breakpoints, $size);

    @if $breakpoint !=null {
        @media (max-width: #{$breakpoint}) {
            @content;
        }
    }
}

@mixin media-height-up($breakpoint) {
    @if map-has-key($height-breakpoints, $breakpoint) {
        $value: map-get($height-breakpoints, $breakpoint);

        @media (min-height: #{$value}) {
            @content;
        }
    }
}

@mixin media-height-down($breakpoint) {
    @if map-has-key($height-breakpoints, $breakpoint) {
        $value: map-get($height-breakpoints, $breakpoint);

        @media (max-height: #{$value}) {
            @content;
        }
    }
}