@use 'variables' as *;
@use 'sass:map';

@mixin min-width($size) {
  $breakpoint: map.get($grid-breakpoints, $size);

  @if $breakpoint !=null {
    @media (min-width: #{$breakpoint}) {
      @content;
    }
  }
}

@mixin max-width($size) {
  $breakpoint: map.get($grid-breakpoints, $size);

  @if $breakpoint !=null {
    @media (max-width: #{$breakpoint}) {
      @content;
    }
  }
}

@mixin min-height($breakpoint) {
  @if map-has-key($height-breakpoints, $breakpoint) {
    $value: map-get($height-breakpoints, $breakpoint);

    @media (min-height: #{$value}) {
      @content;
    }
  }
}

@mixin max-height($breakpoint) {
  @if map-has-key($height-breakpoints, $breakpoint) {
    $value: map-get($height-breakpoints, $breakpoint);

    @media (max-height: #{$value}) {
      @content;
    }
  }
}
