<div class="main-content">
  <div class="work">
    <div id="container-work">
      <div class="content-title">
        <div id="title">
          <p class="subtitle" #typedElement></p>
          <h3 class="section-title" #typedElement2></h3>
        </div>
      </div>
      <div id="description">
        <p>
          On this page, you'll find a brief description of the projects that are close to my heart. Thanks to them, I've
          been able to discover the world of coding and new technologies. For each of them, you can find them on my
          github page.
        </p>
      </div>
      <div class="container-accordion">
        <app-accordion></app-accordion>
        <button class="button" (click)="goToOther()">
          <div class="button-box">
            <span class="button-elem">
              <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                </path>
              </svg>
            </span>
            <span class="button-elem">
              <svg viewBox="0 0 46 40">
                <path
                  d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
                </path>
              </svg>
            </span>
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
