<div class="sidebar-footer">
  <i class="pi pi-cog sidebar-footer__settings" [ngClass]="{ 'pi-spin': settingHover }"
    (mouseenter)="settingHover = true" (mouseleave)="settingHover = false" (click)="openDialog()"></i>
  <h3 class="sidebar-footer__title">Contact</h3>

  <app-social-media></app-social-media>
  
  <div class="sidebar-footer__rights">
    <p class="sidebar-footer__text2">{{ 'SIDEBAR.Copyright' | translate:{ firstName: currentUser.firstName, name:
      currentUser.name } }}</p>
    <p>
      {{ 'SIDEBAR.Last_Update' | translate:{ date: '22 / 06 / 2025' } }}
    </p>
  </div>
</div>