<div class="contact-us">
    <div class="contact-us__form-container">
        <h1>{{ 'PREFERENCES.Contact_Title' | translate }}</h1>
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
            <p-floatlabel variant="on">
                <label for="name">
                    {{ 'PREFERENCES.Name' | translate }}
                    <span class="required">
                        *
                    </span>
                </label>
                <div class="p-field">
                    <input id="name" type="text" pInputText formControlName="name" required class="default-button" />
                </div>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <label for="email">
                    {{ 'PREFERENCES.Email' | translate }}
                    <span class="required">
                        *
                    </span></label>
                <div class="p-field">
                    <input id="email" type="text" pInputText formControlName="email" required class="default-button" />
                </div>
            </p-floatlabel>

            <p-floatlabel variant="on">
                <div class="p-field">
                    <textarea pTextarea id="message" rows="3" cols="30" formControlName="message" required
                        style="resize: none; width: 100%;" class="default-button"></textarea>
                </div>
                <label for="message">
                    {{ 'PREFERENCES.Message' | translate }}
                    <span class="required">
                        *
                    </span>
                </label>
            </p-floatlabel>

            <div class="p-field">
                <ng-container *ngIf="!isLoading else loading">
                    <button type="submit" pButton [label]="'PREFERENCES.Send' | translate" [disabled]="contactForm.invalid"
                        class="secondary-button active"></button>
                </ng-container>
                <ng-template #loading>
                    <app-custom-loading [isLoading]="isLoading"></app-custom-loading>
                </ng-template>
            </div>
        </form>
    </div>
</div>