<div class="card">
  <div class="btn1"></div>
  <div class="btn2"></div>
  <div class="btn3"></div>
  <div class="btn4"></div>
  <div class="card-int">
    <div class="heading">
      <div style="margin-right: 5px;">
        <img src="../../assets/img/netflix.png" alt="Netlifx" width="40px">
      </div>
      <div>
        Currently Watching
      </div>
    </div>
    <div class="catalog">
      <div class="movie">
        <img src="../../assets/img/blade_runner.jpg" alt="Blade Runner">
        <div class="info">
          <span class="title">Blade Runner</span>
          <span class="director">Ridley Scott</span>
        </div>
      </div>

      <div class="movie">
        <img src="../../assets/img/dune.jpg" alt="Dune">
        <div class="info">
          <span class="title">Dune</span>
          <span class="director">Denis Villeneuve</span>
        </div>
      </div>

      <div class="movie">
        <img src="../../assets/img/shihiro.png" alt="Shihiro">
        <div class="info">
          <span class="title">Shihiro</span>
          <span class="director">Studio Ghibli</span>
        </div>
      </div>

      <div class="movie">
        <img src="../../assets/img/one_upon.png" alt="One_upon_a_time">
        <div class="info">
          <span class="title">Once Upon a Time</span>
          <span class="director">Edward Kitsis</span>
        </div>
      </div>

      <div class="movie">
        <img src="../../assets/img/pulp_fiction.jpg" alt="Pulp_Fiction">
        <div class="info">
          <span class="title">Pulp Fiction</span>
          <span class="director">Quentin Tarantino</span>
        </div>
      </div>

    </div>
  </div>
  <div class="top">
    <div class="camera">
      <div class="int"></div>
    </div>
    <div class="speaker"></div>
  </div>
</div>
