<div class="about">
  <div id="container-about">
    <div class="content-title">
      <div id="title">
        <p class="subtitle" #typedElement></p>
        <h3 class="section-title" #typedElement2></h3>
      </div>
    </div>
    <div id="description">
      <p>
        My name is Owen, I'm 21 years old, and I'm currently doing a work-study program in computer science at
        Paris Descartes, in the 16th arrondissement. My interest in computers goes back to my childhood, when I
        discovered video games. Since then, my interest in this field has continued to grow. I love exploring
        new technologies and learning new skills in the field.
      </p>
    </div>
    <div class="container-timeline">
      <app-timeline></app-timeline>
      <app-button-next [showButton]="true" [pathNextPage]="pathNextPage"></app-button-next>
    </div>
  </div>
</div>
