<div class="about" [ngClass]="{'no-background': isSinglePage}">
  <div id="container-about">
    <div class="content-title">
      <div id="title">
        <p class="subtitle" #typedElement></p>
        <h3 class="section-title" #typedElement2></h3>
      </div>
    </div>
    <div id="description">
      <p translate="ABOUT.Description"></p>
    </div>
    <div class="container-timeline">
      <app-timeline></app-timeline>
      <app-button-next [showButton]="true" [pathNextPage]="pathNextPage"></app-button-next>
    </div>
  </div>
</div>