#content {
  display: flex;
  margin-top: 100px;
}

#head {
  font-family: "Poppins", Arial, sans-serif;
}

#head p {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#head span {
  color: #FA7D09;
}
