@import "../../../constant/colos.scss";

#home-content {
  margin-left: 250px;
}

#home {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/img/b_home.png");
  background-size: cover;
  filter: blur(4px) brightness(72%);
  -webkit-filter: blur(4px) brightness(72%);
  z-index: 2;
  opacity: 1;
}

#content-title {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  z-index: 3;
  align-items: start;
}

.typed-text {
  font-size: 60px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}
