<div id="faq">
  <h1>Some projects</h1>
  <ul>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Redesign of a Site</h2>
      <p>In our computer science program, we set out to implement Dijkstra's algorithm on different types of graphs, in
        order to find the shortest path for the given graph. The main objective was to optimize this algorithm to
        achieve
        the shortest possible computation times, even on very large graphs.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Graphs</h2>
      <p>As part of our cursus, we had to select a commune and an existing website, then redesign the site to make it
        more modern.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Mastermind</h2>
      <p>The application recreates the Mastermind game, where the first player creates a secret combination that the
        second player must guess. This project was developed as part of my computer science course, where we had to
        practice using VB.NET to create a game using all the concepts we'd learned in class.</p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2>Mobile Application</h2>
      <p>Our university provided us with a context in which we had to develop a mobile application. This application
        is complete, including an authentication system and data updates from a Firebase database.
        Firebase database. It has also been designed for iOS and Android using Flutter.</p>
    </li>
  </ul>
</div>


