<h1 style="margin-bottom: 30px;" translate="ABOUT.CareerPathTitle"></h1>

<ul>
  <li style="--accent-color:#a6523f">
    <div class="date">2020-2021</div>
    <div class="title" translate="ABOUT.Timeline.2020-2021.Title"></div>
    <p class="descr" translate="ABOUT.Timeline.2020-2021.Description"></p>
  </li>
  <li style="--accent-color:#5a3914">
    <div class="date">2023-2025</div>
    <div class="title" translate="ABOUT.Timeline.2023-2025.Title"></div>
    <p class="descr" translate="ABOUT.Timeline.2023-2025.Description"></p>
  </li>
  <li style="--accent-color:#c6aea1">
    <div class="date">2026-2028</div>
    <div class="title" translate="ABOUT.Timeline.2026-2028.Title"></div>
    <p class="descr" translate="ABOUT.Timeline.2026-2028.Description"></p>
  </li>
  <li style="--accent-color:#4a5a63">
    <div class="date">2029</div>
    <div class="title" translate="ABOUT.Timeline.2029.Title"></div>
    <p class="descr" translate="ABOUT.Timeline.2029.Description"></p>
  </li>
</ul>