<h1 style="margin-bottom: 30px;">My Career Path</h1>
<ul>
  <li style="--accent-color:#a6523f">
    <div class="date">2020-2021</div>
    <div class="title">Past</div>
    <p class="descr">
      I went to a general high school and chose a technological specialization (STI2D). During those
      years, we created various iot-related projects using arduinos.
    </p>
  </li>
  <li style="--accent-color:#5a3914">
    <div class="date">2022-2023</div>
    <div class="title">Present</div>
    <p class="descr">
      I'm currently preparing a bachelor in technology at Paris cité. We do a lot of projects in
      different areas, such as systems and application development.
    </p>
  </li>
  <li style="--accent-color:#c6aea1">
    <div class="date">2023-2025</div>
    <div class="title">Present</div>
    <p class="descr">
      I am currently an apprentice Full Stack Developer at Subsea7. I am working on multiple projects
      to create web applications.
    </p>
  </li>
  <li style="--accent-color:#4a5a63">
    <div class="date">2026</div>
    <div class="title">Futur</div>
    <p class="descr">
      After my bachelor's degree in technology, I'd like to go to a computer engineering school.
      I am not entirely sure what I will pursue yet, but I am considering becoming either a Full
      Stack Developer or a DevOps.
    </p>
  </li>
</ul>
