<div class="skills">
  <div id="container-skills">
    <div class="content-title">
      <div id="title">
        <p class="subtitle" #typedElement></p>
        <h3 class="section-title" #typedElement2></h3>
      </div>
    </div>
    <div id="description">
      <p translate="SKILLS.Description"></p>
    </div>
    <div class="container-card">
      <div class="cardE">
        <div class="card-details">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"
            alt="csharp-logo" class="text-title" />
          <p class="text-body" translate="SKILLS.CSharp"></p>
        </div>
      </div>

      <div class="cardC">
        <div class="card-details">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angularjs/angularjs-original.svg"
            alt="angular-logo" class="text-title" />
          <p class="text-body" translate="SKILLS.Angular"></p>
        </div>
      </div>

      <div class="cardG">
        <div class="card-details">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/azuredevops/azuredevops-original.svg"
            class="text-title" alt="azure logo" />
          <p class="text-body" translate="SKILLS.AzureDevOps"></p> 
        </div>
      </div>

      <div class="cardA">
        <div class="card-details">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original.svg" class="text-title"
            alt="java-logo" />
          <p class="text-body" translate="SKILLS.Java"></p>
        </div>
      </div>

      <div class="cardI">
        <div class="card-details">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/flutter/flutter-original.svg"
            alt="flutter-logo" class="text-title" />
          <p class="text-body" translate="SKILLS.Flutter"></p> 
        </div>
      </div>

      <div class="cardB">
        <div class="card-details">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/cplusplus/cplusplus-original.svg"
            class="text-title" alt="c-logo" />
          <p class="text-body" translate="SKILLS.CPlusPlus"></p>
        </div>
      </div>

      <div class="cardH">
        <div class="card-details">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" class="text-title"
            alt="git-logo" />
          <p class="text-body" translate="SKILLS.Git">
          </p>
        </div>
      </div>

      <div class="cardJ">
        <div class="card-details">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-original.svg"
            class="text-title" alt="firebase-logo" />
          <p class="text-body" translate="SKILLS.Firebase"></p>
        </div>
      </div>
    </div>
    <app-button-next [showButton]="true" [pathNextPage]="pathNextPage"></app-button-next>
  </div>
</div>