<div class="sidebar active">
  <div class="user">
    <img src="../../../assets/test.jpg" alt="me" class="user-img">
  </div>
  <div class="top">
    <div class="logo">
      <h1> Owen Rebeller </h1>
      <p>Developper</p>
    </div>
  </div>
  <ul>
    <li>
      <span class="nav-item" [class.active]="activeNavItem === 'HOME'" (click)="setActiveNavItem('HOME')">HOME</span>
    </li>
    <li>
      <span class="nav-item" [class.active]="activeNavItem === 'ABOUT'" (click)="setActiveNavItem('ABOUT')">ABOUT</span>
    </li>
    <li>
      <span class="nav-item" [class.active]="activeNavItem === 'SKILLS'" (click)="setActiveNavItem('SKILLS')">SKILLS</span>
    </li>
    <li>
      <span class="nav-item" [class.active]="activeNavItem === 'EDUCATION'" (click)="setActiveNavItem('EDUCATION')">EDUCATION</span>
    </li>
    <li>
      <span class="nav-item" [class.active]="activeNavItem === 'EXPERIENCES'" (click)="setActiveNavItem('EXPERIENCES')">EXPERIENCES</span>
    </li>
    <li>
      <span class="nav-item" [class.active]="activeNavItem === 'WORK'" (click)="setActiveNavItem('WORK')">WORK</span>
    </li>
    <li>
      <span class="nav-item" [class.active]="activeNavItem === 'BLOG'" (click)="setActiveNavItem('BLOG')">BLOG</span>
    </li>
    <li>
      <span class="nav-item" [class.active]="activeNavItem === 'CONTACT'" (click)="setActiveNavItem('CONTACT')">CONTACT</span>
    </li>
  </ul>
  <div class="footer">
    <app-footer></app-footer>
  </div>
</div>
