<div class="sidebar sidebar--active">
  <div class="sidebar__user">
    <img src="assets/img/test.jpg" alt="me" class="sidebar__user-img">
  </div>
  <div class="sidebar__top">
    <div class="sidebar__logo">
      <h1 class="sidebar__title">Owen Rebeller</h1>
      <p class="sidebar__subtitle animate__hinge animate__slow">
        {{ 'DEVELOPPER' | translate }}
      </p>
    </div>
  </div>
  <ul class="sidebar__nav">
    <div *ngFor="let item of lstSection">
      <li class="sidebar__nav-item">
        <a class="sidebar__nav-link" (click)="goToThePage(item.root)">{{ item.header }}</a>
      </li>
    </div>
  </ul>
  <div class="sidebar__footer">
    <app-footer></app-footer>
  </div>
</div>
