@import '../../../constant/colos.scss';

.user {
  display: flex;
  justify-content: center;
}

.user-img {
  position: relative;
  top: 15px;
  width: 180px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid black;
}

.sidebar {
  position: fixed;
  top: 0px;
  left: 0;
  height: 100vh;
  width: 80px;
  background-color: $color-dark-brown;
  padding: 0.4rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 555;
}

h1 {
  font-family: "Playfair Display", Georgia, serif;
  font-size: 25px;
}

.sidebar.active~.main-content {
  left: 250px;
  width: calc(100% - 250px);
}

.sidebar.active {
  width: 250px;
  align-items: center;
}

.sidebar.active .top .logo {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 100%;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.top .logo>p {
  opacity: 0.8;
}

.top {
  position: relative;
}

.top::after {
  content: "";
  position: absolute;
  left: 25%;
  width: 50%;
  height: 1px;
  background-color: $color-orange-light;
}

.user {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.user p {
  color: white;
  opacity: 1;
  margin-left: 1rem;
}

.bold {
  font-weight: 600;
}

.sidebar p {
  opacity: 0;
}

.sidebar.active p {
  opacity: 1;
}

.sidebar ul {
  padding: 0;
  text-align: center;
}

.sidebar ul li {
  position: relative;
  line-height: 50px;
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.sidebar ul li a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.sidebar ul li a::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: $color-orange;
  transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
}

.sidebar ul li a.active::after {
  width: 100%;
  left: 0;
}

.sidebar ul li a:hover::after {
  width: 100%;
  left: 0;
}
