@import '../../../constant/colos.scss';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 5%;
  background-color: $color-dark-brown;
  padding: 0.4rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 555;
  transition: width 0.3s ease;

  &--active {
    width: 250px;
    align-items: center;

    ~.main-content {
      left: 250px;
      width: calc(100% - 250px);
    }
  }

  &__user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }

  &__user-img {
    position: relative;
    top: 15px;
    width: 180px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
  }

  &__top {
    position: relative;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }

  &__title {
    font-family: "Playfair Display", Georgia, serif;
    font-size: 25px;
  }

  &__subtitle {
    opacity: 0.8;
  }

  &__top::after {
    content: "";
    position: absolute;
    left: 25%;
    width: 50%;
    height: 1px;
    background-color: $color-orange-light;
  }

  &__nav {
    padding: 0;
    text-align: center;
  }

  &__nav-item {
    position: relative;
    line-height: 50px;
    list-style: none;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
  }

  &__nav-link {
    position: relative;
    cursor: pointer;
    text-decoration: none;

    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: 50%;
      width: 0;
      height: 1px;
      background-color: $color-orange;
      transition: width 0.2s ease-in-out, left 0.2s ease-in-out;
    }

    &--active::after,
    &:hover::after {
      width: 100%;
      left: 0;
    }
  }

  &__footer {
    width: 100%;
    text-align: center;
  }

  & p {
    opacity: 0;

    &.bold {
      font-weight: 600;
    }

    &--visible {
      opacity: 1;
    }
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 50px;

    &--active {
      width: 150px;
    }
  }

  .sidebar__user-img {
    top: 0px;
    width: 100px;
    height: 100px;
  }

  .sidebar__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .sidebar__logo h1 {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .sidebar__top::after {
    bottom: -5px;
  }

  .sidebar__nav-item {
    font-size: 10px;
    line-height: 40px;
  }
}
