<div id="faq">
  <h1 translate="WORK.SomeProjectsTitle"></h1>
  <ul>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2 translate="WORK.ProjectRedesignTitle"></h2>
      <p translate="WORK.ProjectRedesignDesc"></p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2 translate="WORK.ProjectGraphsTitle"></h2>
      <p translate="WORK.ProjectGraphsDesc"></p>
    </li>
    <li>
      <input type="checkbox" checked>
      <i></i>
      <h2 translate="WORK.ProjectMastermindTitle"></h2>
      <p translate="WORK.ProjectMastermindDesc"></p>
    </li>
    <li style="margin-bottom: 30px;">
      <input type="checkbox" checked>
      <i></i>
      <h2 translate="WORK.ProjectMobileAppTitle"></h2>
      <p translate="WORK.ProjectMobileAppDesc"></p>
    </li>
  </ul>
</div>