@use '../app/styles/mixin' as *;

* {
  list-style-type: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

p,
h2,
h3,
h1 {
  color: var(--text-color);
}

.content-title {
  display: flex;
  width: 90%;
  justify-content: center;
}