* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: white;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.main-content {
  margin-left: 370px;
  margin-top: 30px;
}

.content-title{
  display: flex;
  width: 90%;
  justify-content: center;
}
