<div class="main-content">
  <div class="other">
    <div id="container-other">
      <div class="content-title">
        <div id="title">
          <p class="subtitle" #typedElement></p>
          <h3 class="section-title" #typedElement2></h3>
        </div>
      </div>
      <div id="description">
        <p>

        </p>
      </div>
      <div class="container-card">
        <div>
          <app-music></app-music>
        </div>
        <div>
          <app-phone></app-phone>
        </div>
      </div>
    </div>
  </div>
</div>
