<div class="work">
  <div id="container-work">
    <div class="content-title">
      <div id="title">
        <p class="subtitle" #typedElement></p>
        <h3 class="section-title" #typedElement2></h3>
      </div>
    </div>
    <div id="description">
      <p>
        On this page, you'll find a brief description of the projects that are close to my heart. Thanks to them, I've
        been able to discover the world of coding and new technologies. For each of them, you can find them on my
        github page.
      </p>
    </div>
    <div class="container-accordion">
      <app-accordion></app-accordion>
      <app-button-next [showButton]="true" [pathNextPage]="pathNextPage"></app-button-next>
    </div>
  </div>
</div>
