<div class="work" [ngClass]="{'no-background': isSinglePage}">
  <div id="container-work">
    <div class="content-title">
      <div class="page-title">
        <p class="subtitle" #typedElement></p>
        <h3 class="section-title" #typedElement2></h3>
      </div>
    </div>
    <div id="description">
      <p translate="WORK.Description"></p>
    </div>
    <div class="container-accordion">
      <app-accordion></app-accordion>

      <!-- <app-carousel-work></app-carousel-work> -->
      <app-button-next [showButton]="true" [pathNextPage]="pathNextPage"></app-button-next>
    </div>
  </div>
</div>