<div id="container-skills">
  <div>
    <div id="title">
      <p class="subtitle">MY SPECIALTY</p>
      <h3 class="section-title">MY SKILLS</h3> <br>
    </div>
    <div id="description">
      <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications de mise en page de texte, comme Aldus PageMaker.</p> <br>

    </div>
    <div class="container-card">
      <div class="cardA">
        <div class="card-details">
          <img src="../../../assets/java.png" class="text-title" alt="java-logo">
          <p class="text-body">Group java project donated by our university available on Github.</p>
        </div>
      </div>
      <div class="cardB">
        <div class="card-details">
          <img src="../../../assets/c-img.png" class="text-title" alt="c-logo">
          <p class="text-body">My first project in C++, which helped me understand the logic of coding.</p>
        </div>
      </div>
      <div class="cardC">
        <div class="card-details">
          <img src="../../../assets/angular-img.png" class="text-title" alt="angular-logo">
          <p class="text-body">I did an Angular project in a company to manage inventory.</p>
        </div>
      </div>
      <div class="cardE">
        <div class="card-details">
          <img src="../../../assets/csharp-img.png" class="text-title" alt="csharp-logo">
          <p class="text-body">With angular, I used csharp to do the backend.</p>
        </div>
      </div>
      <div class="cardG">
        <div class="card-details">
          <img src="../../../assets/linux-img.png" class="text-title" id="logo-linux" alt="linux-logo">
          <p class="text-body">We made a small project using virtual box</p>
        </div>
      </div>
      <div class="cardH">
        <div class="card-details">
          <img src="../../../assets/git-img.png" class="text-title" alt="git-logo">
          <p class="text-body">I use git and github to put the various projects I've done</p>
        </div>
      </div>
    </div>
  </div>
</div>
