<div class="main-content">
  <div class="skills">
    <div id="container-skills">
      <div class="content-title">
        <div id="title">
          <p class="subtitle" #typedElement></p>
          <h3 class="section-title" #typedElement2></h3>
        </div>
      </div>
      <div id="description">
        <p>
          During my years of study in the field of development, I undertook several projects. For each project, I used
          a different programming language and utilized GitHub to hone these skills. You can find these projects on my
          GitHub profile.
        </p>
      </div>
      <div class="container-card">
        <div class="cardE">
          <div class="card-details">
            <img src="assets/img/csharp-img.png" class="text-title" alt="csharp-logo">
            <p class="text-body">
              Using Angular for the frontend, I implemented the backend with C# and developed REST APIs, utilizing Swagger for documentation.</p>
          </div>
        </div>
        <div class="cardC">
          <div class="card-details">
            <img src="assets/img/angular-img.png" class="text-title" alt="angular-logo">
            <p class="text-body">I did an Angular project in a company to manage the inventory. I also did this
              portfolio with Angular.</p>
          </div>
        </div>
        <div class="cardI">
          <div class="card-details">
            <img src="assets/img/flutter.svg" class="text-title" style="width:70%"
              alt="flutter-logo">
            <p class="text-body">I have developed a mobile application tailored for reporting medications.</p>
          </div>
        </div>
        <div class="cardA">
          <div class="card-details">
            <img src="assets/img/java.png" class="text-title" alt="java-logo">
            <p class="text-body">Group java project donated by our university available on Github.</p>
          </div>
        </div>
        <div class="cardB">
          <div class="card-details">
            <img src="assets/img/c-img.png" class="text-title" alt="c-logo">
            <p class="text-body">My first project in C++, which helped me understand the logic of coding.</p>
          </div>
        </div>
        <div class="cardG">
          <div class="card-details">
            <img src="assets/img/linux-img.png" class="text-title" id="logo-linux" alt="linux-logo">
            <p class="text-body">We made a small project using virtual box.</p>
          </div>
        </div>
        <div class="cardH">
          <div class="card-details">
            <img src="assets/img/git-img.png" class="text-title" alt="git-logo">
            <p class="text-body">I use git and github to put the various projects I've done.</p>
          </div>
        </div>

        <div class="cardJ">
          <div class="card-details">
            <img src="assets/img/firebase.svg" class="text-title" style="width:70%"
              alt="firebase-logo">
            <p class="text-body">We opted for Firebase as the database for our mobile application, developed in Flutter.
            </p>
          </div>
        </div>
      </div>
      <button class="button" (click)="goToWork()">
        <div class="button-box">
          <span class="button-elem">
            <svg viewBox="0 0 46 40" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
              </path>
            </svg>
          </span>
          <span class="button-elem">
            <svg viewBox="0 0 46 40">
              <path
                d="M46 20.038c0-.7-.3-1.5-.8-2.1l-16-17c-1.1-1-3.2-1.4-4.4-.3-1.2 1.1-1.2 3.3 0 4.4l11.3 11.9H3c-1.7 0-3 1.3-3 3s1.3 3 3 3h33.1l-11.3 11.9c-1 1-1.2 3.3 0 4.4 1.2 1.1 3.3.8 4.4-.3l16-17c.5-.5.8-1.1.8-1.9z">
              </path>
            </svg>
          </span>
        </div>
      </button>
    </div>
  </div>
</div>
