<div class="main-content">
  <div>
    <div class="content-title">
      <div id="title">
        <p class="subtitle">MY SPECIALTY</p>
        <h3 class="section-title">MY SKILLS</h3>
      </div>

    </div>
    <div id="description">
      <p>
        During my years of study in the field of development, I undertook several projects. For each project, I used
        a different programming language and utilized GitHub to hone these skills. You can find these projects on my
        GitHub profile.
      </p>
    </div>
    <div class="container-card">
      <div class="cardA">
        <div class="card-details">
          <img src="../../../assets/img/java.png" class="text-title" alt="java-logo">
          <p class="text-body">Group java project donated by our university available on Github.</p>
        </div>
      </div>
      <div class="cardB">
        <div class="card-details">
          <img src="../../../assets/img/c-img.png" class="text-title" alt="c-logo">
          <p class="text-body">My first project in C++, which helped me understand the logic of coding.</p>
        </div>
      </div>
      <div class="cardC">
        <div class="card-details">
          <img src="../../../assets/img/angular-img.png" class="text-title" alt="angular-logo">
          <p class="text-body">I did an Angular project in a company to manage the inventory.</p>
        </div>
      </div>
      <div class="cardE">
        <div class="card-details">
          <img src="../../../assets/img/csharp-img.png" class="text-title" alt="csharp-logo">
          <p class="text-body">With angular, I used csharp to do the backend.</p>
        </div>
      </div>
      <div class="cardG">
        <div class="card-details">
          <img src="../../../assets/img/linux-img.png" class="text-title" id="logo-linux" alt="linux-logo">
          <p class="text-body">We made a small project using virtual box</p>
        </div>
      </div>
      <div class="cardH">
        <div class="card-details">
          <img src="../../../assets/img/git-img.png" class="text-title" alt="git-logo">
          <p class="text-body">I use git and github to put the various projects I've done</p>
        </div>
      </div>
    </div>
  </div>
</div>
