.p-select {
    background-color: var(--primary-color-dark);
    border: 1px solid var(--primary-color-light);
    border-radius: 8px;
    color: var(--text-color);
    width: 5rem;

    &:hover {
        border: 1px solid var(--secondary-color);
    }
}

::ng-deep .p-select-option.p-select-option-selected.p-focus {
    background-color: var(--primary-color-dark);
}

::ng-deep .p-select-option:not(.p-select-option-selected):not(.p-disabled).p-focus {
    background-color: var(--primary-color-light);
}