<p-select [options]="languagesOption" [(ngModel)]="selectedLanguage" optionLabel="name" filterBy="name"
    styleClass="w-5rem" (ngModelChange)="changeSiteLanguage($event)" appendTo="body">
    <ng-template pTemplate="selectedItem" let-selectedOption>
        <div class="flex align-items-center gap-1">
            <img src="assets/i18n_flags/{{selectedOption}}.png" style="width: 18px" alt="{{selectedOption}} flag" />
        </div>
    </ng-template>
    <ng-template let-country pTemplate="item">
        <div class="flex align-items-center gap-1">
            <img src="assets/i18n_flags/{{country}}.png" style="width: 18px" alt="countries flag" />
        </div>
    </ng-template>
</p-select>