@use '../../../../styles/mixin' as *;

.dialog-content {
    margin-top: 1rem;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h1,
    h2,
    h3,
    p {
        color: white;
    }

    &__section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1.5rem;

        &__title {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            border-bottom: 1px solid var(--gray-light-line);
            padding-bottom: 5px;
            width: 90%;
        }
    }

    &__elements {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.6rem;

        &>.label {
            display: flex;
            align-items: center;
            gap: 10px;
            width: 120px;
            text-align: start;

            &>i {
                position: relative;
                bottom: 2px;
                cursor: pointer;
            }
        }
    }
}

// RADIO BUTTON
.radio-input {
    --container_width: 420px;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 9999px;
    border: 1px solid gray;
    width: var(--container_width);
    overflow: hidden;

    @include max-width(md) {
        overflow-x: scroll;
        width: 100%;
        max-width: 400px;
        scrollbar-width: thin;
        scrollbar-color: var(--gray-bold) transparent;
    }
}

.radio-input input {
    display: none;
}

.radio-input label {
    flex: 0 0 35px;
    scroll-snap-align: start;
    background-color: rgb(39, 38, 38);
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-weight: 600;
    font-size: 12px;
    color: inherit;
    transition: color 0.2s ease, background-color 0.2s ease;
    border-radius: 10px;

    @include max-width(md) {
        flex: 0 0 60px;
        padding: 13px 15px;
        font-size: 11px;
    }
}

.radio-input label.light {
    background-color: white;
    color: black;
}

.radio-input label.brown,
.radio-input label.green,
.radio-input label.blue,
.radio-input label.gray,
.radio-input label.purple,
.radio-input label.black,
.radio-input label.red {
    background-color: var(--primary-color-dark);
    color: white;
}

.selection {
    position: absolute;
    height: 100%;
    width: calc(100% / 7);
    z-index: 0;
    top: 0;
    transition: 0.25s ease;
}

.selection.brown {
    background-color: var(--primary-color-dark);
}

.selection.light {
    background-color: white;
}

.selection.green {
    background-color: var(--primary-color-dark);
}

.selection.blue {
    background-color: var(--primary-color-dark);
}

.selection.gray {
    background-color: var(--primary-color-dark);
}

.selection.purple {
    background-color: var(--primary-color-dark);
}

.selection.red {
    background-color: var(--primary-color-dark);
}

.selection.black {
    background-color: var(--primary-color-dark);
}

// Masque le curseur sur mobile
@media (max-width: 600px) {
    .selection {
        display: none;
    }
}