<div class="main">
  <div class="currentplaying">
    <img src="assets/img/steam.png" alt="" style="width: 45px; margin-right: 10px">
    <p class="heading" translate="HOBBIES.CurrentlyPlaying"></p>
  </div>
  <a href="https://www.callofduty.com/fr/blackops2" target="_blank">
    <div class="loader">
      <div class="song">
        <p class="name">Black Ops 2</p>
        <p class="artist">Treyarch</p>
      </div>
      <div class="albumcover">
        <img src="assets/img/b02.png" alt="black ops 2" style="height: 45px;">
      </div>
      <div class="play"></div>
    </div>
  </a>
  <a href="https://www.playstation.com/fr-fr/god-of-war/" target="_blank">
    <div class="loader">
      <div class="song">
        <p class="name">God Of War</p>
        <p class="artist">Santa Monica Studio</p>
      </div>
      <div class="albumcover">
        <img src="assets/img/god_of_war.png" alt="god of war">
      </div>
      <div class="play"></div>
    </div>
  </a>
  <a href="https://www.metrothegame.com/fr/" target="_blank">
    <div class="loader">
      <div class="song">
        <p class="name">Metro Exodus</p>
        <p class="artist">4A Games</p>
      </div>
      <div class="albumcover">
        <img src="assets/img/metro-exodus.png" alt="metro exodus">
      </div>
      <div class="loading">
        <div class="load"></div>
        <div class="load"></div>
        <div class="load"></div>
        <div class="load"></div>
      </div>
    </div>
  </a>
  <a href="https://callofduty.fandom.com/fr/wiki/Call_of_Duty:_Modern_Warfare_3" target="_blank">
    <div class="loader">
      <div class="song">
        <p class="name">Mw3</p>
        <p class="artist">Activision</p>
      </div>
      <div class="albumcover">
        <img src="assets/img/mw3.png" alt="mw3" style="height: 45px;">
      </div>
      <div class="play"></div>
    </div>
  </a>
  <a href="https://www.minecraft.net/fr-fr" target="_blank">
    <div class="loader">
      <div class="song">
        <p class="name">Minecraft</p>
        <p class="artist">Mojang Studios</p>
      </div>
      <div class="albumcover">
        <img src="assets/img/minecraft.png" alt="minecraft">
      </div>
      <div class="play"></div>
    </div>
  </a>
</div>
