.other {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 3;
}

.other::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../../assets/img/b_other.jpg");
  background-size: cover;
  background-attachment: fixed;
  filter: blur(4px) brightness(50%);
  -webkit-filter: blur(4px) brightness(50%);
  z-index: 2;
  opacity: 1;
}

#container-other {
  z-index: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#description {
  margin: 30px 0;
  font-size: large;
  font-weight: 450;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  width: 72%;
}

.container-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container-card div {
  margin: 40px;
}

@media screen and (max-width: 1350px) {
  .container-card {
    flex-direction: column;
  }

  .container-card div {
    margin: 20px;
  }
}

@media screen and (max-width: 768px) {
  .container-card {
    flex-wrap: wrap;
    justify-content: center;
  }

  .container-card div {
    margin: 20px;
  }
}
