/* You can add global styles to this file, and also import other style files */
@use '/src/app/styles/mixin' as *;
@use 'app/styles/themes.scss';

@import "primeicons/primeicons.css";

html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color-light);
  font-family: "Quicksand", Arial, sans-serif;
  font-weight: 400;
  line-height: 1.8;
}

body::-webkit-scrollbar {
  display: none;
}

.p-card {
  background-color: var(--primary-color-dark);
  color: var(--tertiary-color-white);
  padding: 0px;
  margin: 0px;
}

.p-card-body {
  padding: 35px;
  padding-left: 150px;
}

.p-timeline {
  padding: 0;
}

.page-title h3 {
  color: var(--secondary-color) !important;
}

.subtitle {
  display: block;
  font-size: 15px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  text-transform: uppercase;
  color: var(--gray-color) !important;
  font-weight: 550;
  letter-spacing: 5px;
}

.section-title {
  font-size: 26px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 650;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
}

.p-dialog.custom-dialog {
  background-color: rgb(39, 38, 38);
  color: var(--tertiary-color-white);
  border-radius: 12px;
  border: 1px solid var(--gray-light-line);
  padding: 0.7rem;

  .p-dialog-header {
    background-color: transparent;
    color: var(--tertiary-color-white);
    font-weight: bold;
    padding: 0 1.5rem;
    align-items: self-end;
    margin-bottom: 1rem;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: var(--tertiary-color-white-light);
      left: 0;
      top: 60px;
    }
  }

  .p-dialog-footer {
    background-color: transparent;
    border-top: 1px solid var(--gray-light-line);
    padding: 0.3rem 0.3rem 0;
    display: flex;
    justify-content: space-between;
  }
}

.p-checkbox {
  display: block;

  &.p-disabled {
    opacity: var(--p-disabled-opacity);
  }
}

.required {
  color: var(--admin-color-red);
}

.display-block {
  display: block;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none;
}

.no-background::before {
  background-image: none !important;
}

// TOAST
.p-toast-detail {
  line-height: 18px;
}

.p-toast-message-text {
  gap: 0;
}

.main-content {
  margin-left: 250px;
  margin-top: 30px;

  @include max-width(sm) {
    margin-left: 0;
    margin-top: 80px;
  }

  // When parent or self has mode classes
  &.phone-mode {
    margin-left: 0;
    margin-top: 80px;
  }

  &.computer-mode {
    margin-left: 250px;
    margin-top: 30px;
  }

  // OR if applied on a parent:
  .phone-mode & {
    margin-left: 0;
    margin-top: 80px;
  }

  .computer-mode & {
    margin-left: 250px;
    margin-top: 30px;
  }

  &.md-mode {
    margin-left: 160px !important;
  }

  &.cv-page {
    margin: 0 !important;
  }
}