<div class="card">
  <div class="btn1"></div>
  <div class="btn2"></div>
  <div class="btn3"></div>
  <div class="btn4"></div>
  <div class="card-int">
    <div class="heading">
      <div style="margin-right: 5px;">
        <img src="assets/img/netflix.png" alt="Netlifx" width="40px">
      </div>
      <div>
        Currently Watching
      </div>
    </div>
    <div class="catalog">
      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=197686.html" target="_blank">
        <div class="movie">
          <img src="assets/img/blade_runner.jpg" alt="Blade Runner">
          <div class="info">
            <span class="title">Blade Runner</span>
            <span class="director">Ridley Scott</span>
          </div>
        </div>
      </a>
      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=133392.html" target="_blank">
        <div class="movie">
          <img src="assets/img/dune.jpg" alt="Dune">
          <div class="info">
            <span class="title">Dune</span>
            <span class="director">Denis Villeneuve</span>
          </div>
        </div>
      </a>
      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=256661.html" target="_blank">
        <div class="movie">
          <img src="assets/img/green_book.png" alt="green_book">
          <div class="info">
            <span class="title">Green Book</span>
            <span class="director">Peter Farrelly</span>
          </div>
        </div>
      </a>
      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=257482.html" target="_blank">
        <div class="movie">
          <img src="assets/img/one_upon.png" alt="One_upon_a_time">
          <div class="info">
            <span class="title">Once Upon a Time</span>
            <span class="director">Edward Kitsis</span>
          </div>
        </div>
      </a>
      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=10126.html" target="_blank">
        <div class="movie">
          <img src="assets/img/pulp_fiction.jpg" alt="Pulp_Fiction">
          <div class="info">
            <span class="title">Pulp Fiction</span>
            <span class="director">Quentin Tarantino</span>
          </div>
        </div>
      </a>
      <a href="https://www.allocine.fr/film/fichefilm_gen_cfilm=37485.html" target="_blank">
        <div class="movie">
          <img src="assets/img/shihiro.png" alt="Shihiro">
          <div class="info">
            <span class="title">Shihiro</span>
            <span class="director">Studio Ghibli</span>
          </div>
        </div>
      </a>
      <div class="scroll-indicator">
        &#x25BC;
      </div>
    </div>
  </div>
  <div class="top">
    <div class="camera">
      <div class="int"></div>
    </div>
    <div class="speaker"></div>
  </div>
</div>
