<header>
  <nav class="navbar" [ngClass]="{'display-flex': isPhoneMode || isPhoneSize, 'display-none': !isPhoneMode && !isPhoneSize}">
    <div class="navbar__left">
      <label class="hamburger-container">
        <input type="checkbox" [(ngModel)]="isMenuOpen">
        <div class="checkmark">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </label>

      <div class="settings-container">
        <i class="pi pi-cog navbar__left-settings" [ngClass]="{ 'pi-spin': settingHover }"
          (mouseenter)="settingHover = true" (mouseleave)="settingHover = false" (click)="openDialog()"></i>
      </div>
    </div>

    <div class="navbar__links--mobile" *ngIf="isMenuOpen">
      <ul>
        <ng-container *ngFor="let link of lstSection">
          <li>
            <a (click)="goToThePage(link.root)">{{
              link.header }}</a>
          </li>
        </ng-container>
      </ul>
    </div>

    <div class="navbar__middle">
      <p> {{ currentUser.fullName }} </p>
    </div>

    <a routerLink="/" class="navbar__link-logo">
      <img src="assets/img/test.jpg" alt="subsea7-brand" width="40" height="40" class="navbar__logo">
    </a>
  </nav>
</header>