<div class="other" [ngClass]="{'no-background': isSinglePage}">
  <div id="container-other">
    <div class="content-title">
      <div class="page-title">
        <p class="subtitle" #typedElement></p>
        <h3 class="section-title" #typedElement2></h3>
      </div>
    </div>
    <div class="container-card">
      <div>
        <app-music></app-music>
      </div>
      <div>
        <app-phone></app-phone>
      </div>
      <div *ngIf="!isPro">
        <app-games></app-games>
      </div>
    </div>
  </div>
</div>