<div class="cv-page" [ngClass]="{'phone-size': isPhoneSize}">
    <p-speeddial [model]="items" direction="down" [style]="{ position: 'absolute', top: '-5px', left: 0 }"
        [buttonProps]="{ severity: 'help', rounded: true }" [tooltipOptions]="{ tooltipPosition: 'left' }" />

    <div class="cv">
        <div class="cv__column cv__column--left">
            <section class="cv__block cv__block--contact">
                <img src="assets/img/test.jpg" alt="me" class="cv__img">

                <h3 class="cv__heading">{{ 'CV.Contact' | translate }}</h3>

                <div class="cv__contact--container">
                    <app-icon [name]="'linkedin'"></app-icon>
                    <div class="cv__contact__description">
                        <h3>LinkedIn</h3>
                    </div>
                </div>

                <div class="cv__contact--container">
                    <app-icon [name]="'address'"></app-icon>
                    <div class="cv__contact__description">
                        <h3>{{ 'CV.Address' | translate }}</h3>
                        <p class="cv__text">78****</p>
                    </div>
                </div>

                <div class="cv__contact--container">
                    <app-icon [name]="'phone'"></app-icon>
                    <div class="cv__contact__description">
                        <h3>{{ 'CV.Phone' | translate }}</h3>
                        <p class="cv__text">07 ** ** ** **</p>
                    </div>
                </div>

                <div class="cv__contact--container">
                    <app-icon [name]="'email'"></app-icon>
                    <div class="cv__contact__description">
                        <h3>{{ 'CV.Email' | translate }}</h3>
                        <p class="cv__text">{{ user.email }}</p>
                    </div>
                </div>
            </section>

            <section class="cv__block cv__block--qualities">
                <h3 class="cv__heading">{{ 'CV.Qualities' | translate }}</h3>
                <ul class="cv__list">
                    <li class="cv__list-item">
                        <p-tag [value]="'CV.Determined' | translate" severity="success" />
                    </li>
                    <li class="cv__list-item">
                        <p-tag [value]="'CV.Curious' | translate" severity="info" />
                    </li>
                    <li class="cv__list-item">
                        <p-tag [value]="'CV.Adaptable' | translate" severity="warn" />
                    </li>
                    <li class="cv__list-item">
                        <p-tag [value]="'CV.Autonomous' | translate" severity="secondary" />
                    </li>
                </ul>
            </section>

            <section class="cv__block cv__block--languages">
                <h3 class="cv__heading">{{ 'CV.Languages' | translate }}</h3>
                <p class="cv__text">{{ 'CV.French' | translate }}</p>
                <p class="cv__text">{{ 'CV.English' | translate }}</p>
                <p class="cv__text">{{ 'CV.Spanish' | translate }}</p>
            </section>

            <section class="cv__block cv__block--hobbies">
                <h3 class="cv__heading">{{ 'CV.Hobbies' | translate }}</h3>
                <ul class="cv__list">
                    <li class="cv__list-item">{{ 'CV.Hobby1' | translate }}</li>
                    <li class="cv__list-item">{{ 'CV.Hobby2' | translate }}</li>
                    <li class="cv__list-item">{{ 'CV.Hobby3' | translate }}</li>
                </ul>
            </section>
        </div>

        <div class="cv__column cv__column--right">
            <section class="cv__block cv__block--about">
                <h1 class="cv__title">{{ user.name + ' ' + user.firstName }}</h1>
                <h4 class="cv__subtitle">{{ 'CV.StudentApprenticeship' | translate }}</h4>
                <h3 class="cv__heading">{{ 'CV.AboutMe' | translate }}</h3>
                <p class="cv__text">{{ 'CV.AboutText' | translate }}</p>
            </section>

            <section class="cv__block cv__block--education">
                <h3 class="cv__heading">{{ 'CV.Education' | translate }}</h3>
                <div class="cv__container--section">
                    <h2 class="cv__subtitle">{{ 'CV.EngineeringSchoolTitle' | translate }}</h2>
                    <h4 class="cv__subsubtitle">{{ 'CV.EngineeringSchoolSchool' | translate }}</h4>
                    <ul class="cv__experiences">
                        <li>{{ 'CV.EngineeringSchoolDetail1' | translate }}</li>
                        <!-- <li>{{ 'CV.EngineeringSchoolDetail2' | translate }}</li> -->
                    </ul>
                    <p class="cv__date">2026-2028</p>
                </div>
                <div class="cv__container--section">
                    <h2 class="cv__subtitle">{{ 'CV.ButTitle' | translate }}</h2>
                    <h4 class="cv__subsubtitle">{{ 'CV.ButSchool' | translate }}</h4>
                    <ul class="cv__experiences">
                        <li>{{ 'CV.ButDetail1' | translate }}</li>
                        <li>{{ 'CV.ButDetail2' | translate }}</li>
                    </ul>
                    <p class="cv__date">2022-2025</p>
                </div>
                <div class="cv__container--section">
                    <h2 class="cv__subtitle">{{ 'CV.BacTitle' | translate }}</h2>
                    <h4 class="cv__subsubtitle">{{ 'CV.BacSchool' | translate }}</h4>
                    <ul class="cv__experiences">
                        <li>{{ 'CV.BacDetail1' | translate }}</li>
                    </ul>
                    <p class="cv__date">2020-2022</p>
                </div>
            </section>

            <section class="cv__block cv__block--experience">
                <h3 class="cv__heading">{{ 'CV.Experience' | translate }}</h3>
                <div class="cv__container--section">
                    <h2 class="cv__subtitle">{{ 'CV.JobSummer' | translate }}</h2>
                    <h4 class="cv__subsubtitle">{{ 'CV.JobCompany' | translate }}</h4>
                    <ul class="cv__experiences">
                        <li>{{ 'CV.JobTask1' | translate }}</li>
                    </ul>
                    <p class="cv__date">2023</p>
                </div>
                <div class="cv__container--section">
                    <h2 class="cv__subtitle">{{ 'CV.AltTitle' | translate }}</h2>
                    <h4 class="cv__subsubtitle">{{ 'CV.AltCompany' | translate }}</h4>
                    <ul class="cv__experiences">
                        <li>{{ 'CV.AltTask1' | translate }}</li>
                        <li>{{ 'CV.AltTask2' | translate }}</li>
                        <li>{{ 'CV.AltTask3' | translate }}</li>
                    </ul>
                    <p class="cv__date">2023-2028</p>
                </div>
            </section>

            <section class="cv__block cv__block--projects">
                <h3 class="cv__heading">{{ 'CV.Projects' | translate }}</h3>
                <div class="cv__container--section">
                    <h2 class="cv__subtitle">{{ 'CV.ProjectsMain' | translate }}</h2>
                    <ul class="cv__experiences">
                        <li>{{ 'CV.Project1' | translate }}</li>
                        <li>{{ 'CV.Project2' | translate }}</li>
                        <li>{{ 'CV.Project3' | translate }}</li>
                    </ul>
                </div>
            </section>

            <section class="cv__block cv__block--skills">
                <h3 class="cv__heading">{{ 'CV.Tools' | translate }}</h3>
                <div class="cv__container--section">
                    <div>
                        <h4 class="cv__subtitle">{{ 'CV.Frameworks' | translate }}</h4>
                        <ul>
                            <li>{{ 'CV.FrameworkList' | translate }}</li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="cv__subtitle">{{ 'CV.Technologies' | translate }}</h4>
                        <ul>
                            <li>{{ 'CV.TechnologyList' | translate }}</li>
                        </ul>
                    </div>
                    <div>
                        <h4 class="cv__subtitle">{{ 'CV.LanguagesTitle' | translate }}</h4>
                        <ul>
                            <li>{{ 'CV.LanguagesList' | translate }}</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>