@use '../../../styles/mixin' as *;

.cv-page {
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

.cv {
    display: flex;
    width: 794px;
    height: 1123px;
    margin: 2rem auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--secondary-color-accent);
    font-family: 'Segoe UI', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    border-radius: 15px;
    color: #333;

    &__column {
        padding: 1rem;

        &--left {
            width: 35%;
            background-color: var(--primary-color-dark);
            border-right: 1px solid #ddd;
            border-radius: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        &--right {
            width: 65%;

            * {
                color: black;
            }

            h3 {
                border-bottom: 1px solid var(--secondary-color-light);
            }

        }
    }

    &__img {
        display: flex;
        width: 200px;
        height: 170px;
        border-radius: 50%;
        border: 1px solid var(--quinary-color-black);
        margin: 0 auto 50px;
    }

    &__block {
        margin-bottom: 1rem;

        &--languages {
            p {
                margin: 20px 0;
            }
        }

        &--hobbies {
            ul {
                padding-left: 0;
                list-style: disc;
                display: block;
                flex-wrap: nowrap;
                gap: 20px;
                margin: 15px 0;

                li {
                    margin: 20px 0;
                    color: var(--text-color);
                }
            }
        }

        &--qualities {

            ul {
                margin: 25px 0 0;
            }
        }

        &--about {
            padding-left: 3rem;

            h1 {
                font-size: 45px;
                text-transform: uppercase;
            }

            h3,
            p {
                width: 85%;
            }

            h4 {
                text-transform: uppercase;
                font-size: 22px;
                color: gray !important;
                letter-spacing: 2px;
            }

            p {
                font-size: 11px;
            }
        }

        &--skills {

            ul {
                margin-bottom: 0 !important;
            }

            &>div>div {
                display: flex;
                flex-direction: column;
            }

            h4 {
                margin: 5px 0 0;
            }
        }
    }

    &__contact {
        &--container {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 5px 0;
        }
    }

    &__title {
        margin-bottom: 0.25rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

    &__subtitle {
        margin-bottom: 0.5rem;
        font-size: 1rem;
        color: #555;
    }

    &__container--section {
        position: relative;

        p,
        ul,
        h2,
        li {
            margin: 0;
            padding: 0;
        }

        h2 {
            font-size: 17px;
            text-transform: uppercase;
            margin: 5px 0;
        }

        h4 {
            font-weight: 500;
            color: gray;
            letter-spacing: 1.3px;
        }

        ul {
            padding-left: 2.1rem;
            margin-bottom: 15px;
            font-size: small;
            width: 100%;

            li {
                list-style-type: disc !important;
            }
        }
    }

    &__date {
        position: absolute;
        top: -2px;
        font-size: 20px;
        color: var(--secondary-color-light) !important;
        right: 0;
    }

    &__heading {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid var(--gray-color);
        color: var(--text-color);
        font-size: 1.5rem;
    }

    &__text {
        margin: 0.25rem 0;
    }

    &__link {
        display: block;
        color: #007acc;
        text-decoration: none;
        font-size: 13px;
        margin-bottom: 4px;

        &:hover {
            text-decoration: underline;
        }
    }

    &__list {
        padding-left: 0;
        list-style: disc;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        align-items: center;
        margin: 15px 0;
    }

    &__list-item {
        margin-bottom: 0.25rem;

        p-tag {
            width: 95px;
            padding: 2px;
            transition: transform 0.2s ease;

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.phone-size {
    width: 0px;
    margin: 0;
}